.contenido-info, main section .container-flex-info .container-info {
  background-color: black;
  border: 3px solid white;
  border-radius: 1em;
  padding: 2em;
  margin: 0.8em 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

/* Acomodamiento de area */
header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/* Grilla General */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto); }
  @media (min-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-areas: "header header" "main main" "footer footer";
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto); } }
  @media (min-width: 1024px) {
    .grid-container {
      display: grid;
      grid-template-areas: "header header header" "main main main" "footer footer footer";
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, auto); } }

header {
  background-color: #212529; }
  @media (min-width: 1024px) {
    header .navbar {
      padding: 0; } }
  header .navbar ul li .nav-link:hover {
    border-bottom: 2px solid white; }
  @media (min-width: 1024px) {
    header .navbar ul li .nav-link {
      padding: 1em 1em; } }

main {
  background-image: linear-gradient(to right bottom, #adb6c4, #adb6c4, #adb6c4, #adb6c4, #adb6c4, #9ea7b6, #8f99a8, #808b9b, #5f6c7e, #404f62, #213447, #001b2e);
  height: 100%;
  padding: 1em 2.5em; }
  @media (min-width: 1024px) {
    main {
      background-image: linear-gradient(to right top, #001b2e, #213447, #404f62, #5f6c7e, #808b9b, #808b9b, #808b9b, #808b9b, #5f6c7e, #404f62, #213447, #001b2e);
      padding: 2em 5em; } }
  main .margenEspaciado {
    margin-bottom: 10px; }
    main .margenEspaciado .container-flex-perfil {
      margin-bottom: 10px; }
      @media (min-width: 1024px) {
        main .margenEspaciado .container-flex-perfil {
          display: flex;
          flex-direction: row-reverse; } }
      @media (min-width: 1024px) {
        main .margenEspaciado .container-flex-perfil .usuarioPerfil {
          width: 43.4%; } }
      main .margenEspaciado .container-flex-perfil .usuarioPerfil .perfilImg {
        border-radius: 50%; }
      main .margenEspaciado .container-flex-perfil .subcontainerTexto .colorP {
        color: black; }
        @media (min-width: 1024px) {
          main .margenEspaciado .container-flex-perfil .subcontainerTexto .colorP {
            font-size: 25.5px; } }
      @media (min-width: 1024px) {
        main .margenEspaciado .container-flex-perfil .subcontainerTexto .sinCenter {
          text-align: left; } }
      main .margenEspaciado .container-flex-perfil .subcontainerTexto .button {
        background-color: #181717;
        text-decoration: none;
        padding: 10px 23px;
        border-radius: 2em; }
  main section {
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media (min-width: 576px) {
      main section .container-flex-info {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 768px) {
      main section .container-flex-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; } }
    @media (min-width: 1024px) {
      main section .container-flex-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center; } }
    main section .container-flex-info .container-info {
      transition: all 0.4s; }
      main section .container-flex-info .container-info:hover {
        transform: translateY(-3%);
        transition: 0.3s; }
      @media (min-width: 576px) {
        main section .container-flex-info .container-info {
          width: 20.9em;
          height: 420px; } }
      @media (min-width: 1024px) {
        main section .container-flex-info .container-info {
          width: 19em;
          margin: 1.5% 2%; } }
      main section .container-flex-info .container-info h3 {
        color: white; }
      main section .container-flex-info .container-info p {
        color: white; }
  main .colorP {
    color: black; }
    @media (min-width: 1024px) {
      main .colorP {
        font-size: 25.5px; } }
  main iframe {
    width: 100%; }
  main .container-flex-template {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      main .container-flex-template {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center; } }
    @media (min-width: 1024px) {
      main .container-flex-template {
        display: flex;
        flex-direction: row;
        justify-content: space-around; } }
    main .container-flex-template img {
      width: 100%;
      height: 250px;
      margin-bottom: 2%; }
      @media (min-width: 576px) {
        main .container-flex-template img {
          width: 30em;
          height: 220px;
          margin-bottom: 2%; } }
      @media (min-width: 768px) {
        main .container-flex-template img {
          width: 31.25em;
          height: 250px;
          margin-bottom: 2%; } }
      @media (min-width: 1024px) {
        main .container-flex-template img {
          width: 23em;
          height: 200px; } }
  main .conCenter {
    text-align: center; }
  @media (min-width: 768px) {
    main form {
      margin-bottom: 2.6%; } }
  @media (min-width: 1024px) {
    main form {
      padding: 0 10%; } }

footer {
  background-color: #3e4246;
  height: auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end; }
  footer .margenP {
    margin-bottom: 0; }
