footer{
    background-color: rgb(62, 66, 70);
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    .margenP{
        margin-bottom: 0;
    }
}